# Tp2 - Análise de desempenho

In [4]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import time

## Criando o banco de dados

Para executar os códigos neste notebook, é necessário possuir o banco de dados relacional do IMDB no mesmo diretório desse notebook. Caso você ainda não possua o banco de dados, você deve seguir esses passos:

1. Instale o imdb-sqlite seguindo as instruções em: https://pypi.org/project/imdb-sqlite/
2. Rode o imdb-sqlite na mesma pasta desse notebook.

Caso você já possua o banco de dados, basta movê-lo para o mesmo diretório deste notebook.

## Abrindo o banco de dados

In [3]:
conn = sqlite3.connect('imdb.db')

## Análise de desempenho

Como utilizamos um banco de dados grande, podemos ver o impacto no tempo de execução de diferentes formas de se realizar a mesma  consulta. Nesta seção vamos analisar e comparar algumas consultas.

### 1º Consulta: Seleção antes da junção Vs Junção antes da seleção

Primeiramente faremos a Seleção antes da junção:

In [18]:
inicio = time.time()

# Consulta todos os filmes que tem o titulo original e pertencem a região Br
df1 = pd.read_sql_query(
"""
SELECT *
FROM ratings NATURAL JOIN(
    SELECT *
    FROM titles
    WHERE original_title="O Auto da Compadecida"
)

""", conn)


fim = time.time()
print('Tempo gasto: {}'.format(fim - inicio))

df1

Tempo gasto: 0.02031707763671875

,title_id,rating,votes,type,primary_title,original_title,is_adult,premiered,ended,runtime_minutes,genres
0,tt0197139,9.0,2332,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
1,tt0271383,8.6,9099,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"

Com a junção "antes" da seleção:

In [17]:
inicio = time.time()

# Consulta todos os filmes que tem o titulo original e pertencem a região Br
df2 = pd.read_sql_query(
"""
SELECT *
FROM ratings NATURAL JOIN titles
WHERE original_title="O Auto da Compadecida"
   
""", conn)


fim = time.time()
print('Tempo gasto: {}'.format(fim - inicio))

df2

Tempo gasto: 0.015127420425415039

,title_id,rating,votes,type,primary_title,original_title,is_adult,premiered,ended,runtime_minutes,genres
0,tt0197139,9.0,2332,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
1,tt0271383,8.6,9099,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"

### 2º Consulta: Junção Vs Produto Cartesiano

Junção antes:

In [23]:
inicio = time.time()

# Consulta todos os filmes que tem o titulo original e pertencem a região Br
df1 = pd.read_sql_query(
"""
SELECT *
FROM ratings NATURAL JOIN(
    SELECT *
    FROM titles
    WHERE original_title="O Auto da Compadecida"
)

""", conn)


fim = time.time()
print('Tempo gasto: {}'.format(fim - inicio))

df1

Tempo gasto: 0.021650314331054688

,title_id,rating,votes,type,primary_title,original_title,is_adult,premiered,ended,runtime_minutes,genres
0,tt0197139,9.0,2332,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
1,tt0271383,8.6,9099,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"

Produto Cartesiano:

In [26]:
inicio = time.time()

# Consulta todos os filmes que tem o titulo original e pertencem a região Br
df2 = pd.read_sql_query(
"""
SELECT *
FROM ratings as R, titles as T
WHERE original_title="O Auto da Compadecida" and R.title_id=T.title_id


""", conn)


fim = time.time()
print('Tempo gasto: {}'.format(fim - inicio))

df2

Tempo gasto: 0.014823436737060547

,title_id,rating,votes,title_id,type,primary_title,original_title,is_adult,premiered,ended,runtime_minutes,genres
0,tt0197139,9.0,2332,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
1,tt0271383,8.6,9099,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"

Mostrando o tempo gasto por um produto cartesiano:

In [27]:
inicio = time.time()

# Consulta todos os filmes que tem o titulo original e pertencem a região Br
df3 = pd.read_sql_query(
"""
SELECT *

FROM ratings as R, titles as T
WHERE original_title="O Auto da Compadecida" 


""", conn)


fim = time.time()
print('Tempo gasto: {}'.format(fim - inicio))

df3

Tempo gasto: 8.952706575393677

,title_id,rating,votes,title_id,type,primary_title,original_title,is_adult,premiered,ended,runtime_minutes,genres
0,tt0000001,5.8,1513,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
1,tt0000002,6.3,184,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
2,tt0000003,6.6,1160,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
3,tt0000004,6.3,113,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
4,tt0000005,6.2,1865,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
5,tt0000006,5.4,100,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
6,tt0000007,5.5,606,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
7,tt0000008,5.6,1614,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
8,tt0000009,5.5,80,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
9,tt0000010,6.9,5387,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
10,tt0000011,5.4,228,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
11,tt0000012,7.4,9119,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
12,tt0000013,5.8,1404,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
13,tt0000014,7.2,3974,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
14,tt0000015,6.2,719,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
15,tt0000016,5.9,1043,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
16,tt0000017,4.8,208,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
17,tt0000018,5.5,433,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
18,tt0000019,6.6,13,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
19,tt0000020,5.1,238,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
20,tt0000022,5.2,784,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
21,tt0000023,5.7,996,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
22,tt0000024,5.5,22,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
23,tt0000025,4.6,21,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
24,tt0000026,5.7,1198,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
25,tt0000027,5.6,820,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
26,tt0000028,5.2,751,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
27,tt0000029,5.9,2568,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
28,tt0000030,5.3,628,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
29,tt0000031,5.6,729,tt0197139,tvMiniSeries,O Auto da Compadecida,O Auto da Compadecida,0,1999,1999.0,NaN,"Comedy,Drama,Romance"
...,...,...,...,...,...,...,...,...,...,...,...,...
1888208,tt9914458,2.7,36,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888209,tt9914546,5.8,72,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888210,tt9914642,8.3,10,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888211,tt9914758,9.1,7,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888212,tt9914942,6.6,5,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888213,tt9915120,7.8,5,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888214,tt9915144,9.0,12,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888215,tt9915156,1.0,20,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888216,tt9915686,7.8,75,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888217,tt9915820,7.8,12,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888218,tt9915824,7.3,12,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888219,tt9915832,7.9,12,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888220,tt9915864,8.3,13,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888221,tt9915898,9.2,72,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888222,tt9915906,7.6,47,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888223,tt9915910,9.2,55,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888224,tt9915912,7.3,42,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888225,tt9916114,7.2,8,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888226,tt9916160,6.3,13,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888227,tt9916192,7.5,8,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888228,tt9916200,8.2,96,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888229,tt9916204,8.4,114,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888230,tt9916316,8.4,5,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888231,tt9916380,9.5,92,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888232,tt9916420,7.0,6,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888233,tt9916544,7.3,7,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888234,tt9916578,9.0,10,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888235,tt9916720,4.8,22,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888236,tt9916766,7.0,8,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"
1888237,tt9916778,9.0,5,tt0271383,movie,A Dog's Will,O Auto da Compadecida,0,2000,NaN,104.0,"Adventure,Comedy"

### Consulta 3: IN Vs EXISTS Vs INNER JOIN

In:

In [31]:
inicio = time.time()

# Consulta todos os filmes que tem o titulo original e pertencem a região Br
df1 = pd.read_sql_query(
"""
SELECT rating, votes
FROM ratings as R 
WHERE R.title_id IN(
    SELECT T.title_id
    FROM titles as T
    WHERE T.original_title="O Auto da Compadecida"
)

""", conn)


fim = time.time()
print('Tempo gasto: {}'.format(fim - inicio))

df1

Tempo gasto: 0.0031423568725585938

   rating  votes
0     9.0   2332
1     8.6   9099

Exists:

In [41]:
inicio = time.time()

# Consulta todos os filmes que tem o titulo original e pertencem a região Br
df2 = pd.read_sql_query(
"""
SELECT rating, votes
FROM ratings as R 
WHERE EXISTS (
    SELECT T.title_id
    FROM titles as T
    WHERE T.original_title="O Auto da Compadecida" and T.title_id=R.title_id
)

""", conn)


fim = time.time()
print('Tempo gasto: {}'.format(fim - inicio))

df2

Tempo gasto: 1.3026010990142822

   rating  votes
0     9.0   2332
1     8.6   9099

Inner Join:

In [42]:
inicio = time.time()

# Consulta todos os filmes que tem o titulo original e pertencem a região Br
df3 = pd.read_sql_query(
"""
SELECT R.rating, R.votes
FROM ratings as R INNER JOIN titles as T
WHERE T.original_title="O Auto da Compadecida" and T.title_id=R.title_id


""", conn)


fim = time.time()
print('Tempo gasto: {}'.format(fim - inicio))

df3

Tempo gasto: 0.0023767948150634766

   rating  votes
0     9.0   2332
1     8.6   9099