In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
conn = sqlite3.connect('imdb.db')

In [ ]:
cursor = conn.cursor()

In [ ]:
addColumn = "ALTER TABLE akas ADD COLUMN title_poster BLOB"

cur.execute(addColumn)

In [ ]:
df = pd.read_sql_query(
"""
SELECT *
FROM akas
""", conn)

df

In [ ]:
image_address = "O_auto_da_compadecida.jpg"
cursor.execute("""
    UPDATE akas SET (title_poster=?
    WHERE title = "O Auto da Compadecida"
    """, (image_address))