http://pythonclub.com.br/guia-rapido-comandos-sqlite3.html

http://www.sqlitetutorial.net/sqlite-insert/

https://pythontic.com/database/sqlite/alter%20table

https://gist.github.com/nalyd88/3407891

https://pynative.com/python-mysql-blob-insert-retrieve-file-image-as-a-blob-in-mysql/

http://zetcode.com/python/sqlite/

https://data.vision.ee.ethz.ch/cvl/rrothe/imdb-wiki/

In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
conn = sqlite3.connect('imdb.db')

In [3]:
cursor = conn.cursor()

In [ ]:
addColumn = "ALTER TABLE akas ADD COLUMN title_poster BLOB"

cursor.execute(addColumn)

In [4]:
def readImage(filename):

    fin = None

    try:
        fin = open(filename, "rb")
        img = fin.read()
        return img

    except IOError as e:

        print(e)
        sys.exit(1)

    finally:

        if fin:
            fin.close()

In [5]:
def writeImage(data, filename):

    fout = None

    try:
        fout = open(filename,'wb')
        fout.write(data)

    except IOError as e:

        print(e)
        sys.exit(1)

    finally:

        if fout:
            fout.close()

In [ ]:
df = pd.read_sql_query(
"""
SELECT *
FROM akas
WHERE title = "O Auto da Compadecida"
""", conn)

df

In [ ]:
image_address = "O_auto_da_compadecida.jpg"
data = readImage(image_address)
binary_img = sqlite3.Binary(data)

#EXAMPLE: cursor.execute("INSERT INTO images(data) VALUES (?)", (binary,) )

cursor.execute("""
    UPDATE akas SET title_poster=(?)
    WHERE title = "O Auto da Compadecida"
    """, (binary_img,))

In [ ]:
cursor.execute("""
    SELECT title_poster 
    FROM akas 
    WHERE title = "O Auto da Compadecida"
    LIMIT 1 
    """)
data = cursor.fetchone()[0]

filename = "1" + image_address
writeImage(data, filename)